.default-theme {
  --header-color: white;
  --header-shadow: gray;
  --header-brand-name: black;
  --header-search-input: white;
  --header-search-input-placeholder: gray;
  --header-icon: black;
  --header-toggle-button: white;

  --sidebar-border: rgb(224, 223, 223);
  --sidebar-list-hover: rgb(217, 217, 217);
}

.dark-theme {
  --header-color: rgb(32, 31, 31);
  --header-shadow: black;
  --header-brand-name: white;
  --header-search-input: rgb(181, 178, 178);
  --header-search-input-placeholder: rgb(89, 88, 88);
  --header-icon: white;
  --header-toggle-button: rgb(181, 178, 178);

  --sidebar-border: rgb(112, 111, 111);
  --sidebar-list-hover: rgb(175, 174, 174);
}

